/* @font-face {
    font-family: Molengo;
    src: url(/AppSus/assets/font/Molengo-Regular.ttf)
} */

body {
    font-family: Molengo;
}

a {
    text-decoration: none;
    list-style-type: none;
    color: black;
}

li {
    list-style-type: none;
}

button {
    outline: none;
}

.my-email{
color: #FCE181;
font-weight: 700;
font-size: 40px;
}

 .email-app{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.email-filter input {
    font-size: 20px;
    font-family: Molengo;
    height: 40px;
    width: 300px;
    border-radius: 7px;
    border: 0.8px;
    border-bottom-color: lightslategray;
    
}

.emails-list {
    margin-top: 20px;
  width: 82%;
  
    border-radius: 10px;
    height: 80vh;
    overflow-y: scroll;
}


.email-preview {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
  color:rgb(37, 36, 36);
   
    border: 1px solid white;
    transition: all ease .4s;
}
.email-preview:hover {
    
    border-top: 1px rgba(112, 111, 111);
    border-bottom: 1px rgba(112, 111, 111);
}

 .form-container {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-right: 100px;
    bottom: 0;
    right: 0;
    position: fixed;
    z-index: 99999;
    margin-top: 50px;
    display: block;
    width: 570px;
    height: 520px;
    background: white;
} 

.form-container input {
    color: black;
    width: calc(100% - 10px);
    height: 25px;
    margin: 5px;
    outline: none;
    border: none;
    border-bottom: 1px solid black;
}

.form-header {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: 700;
    padding-top: 8px;
    text-align: left;
    width: calc(100% - 20px);
    height: 30px;
    color: rgb(37, 36, 36);
}

.form-container .email-input-txt {
    padding: 5px;
    text-align: center;
    height: 100%;
    outline: none;
    border: none;
}

.form-container button {
    outline: none;
}

 .close-btn-compose {
    cursor: pointer;
    float: right;
    color: rgb(189, 182, 182);
} 

.submit-compose {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 90px;
    height: 35px;
    font-weight: 700;
    background: #9FEDD7;
    color: rgb(37, 36, 36);
    cursor: pointer;
    margin-bottom: 10px;
    margin-left: 20px;
    border-radius: 7px;
    border: none;
    transition: all ease 0.4s;
} 

.submit-compose:hover {
    background: #026670;
    color: #EDEAE5;
}

.email-input-text {
    border: none;
}

textarea .email-input-txt {
    border: none;
    text-align: center;
}

.side-bar{
    left: 0; 
    height: 100vh;
    position: fixed;
    width: 100px;
    background: rgba(0, 0, 0, 0.1);
} 

.side-bar:hover{
    background: rgba(0, 0, 0, 0.178);
    width: 170px;
    transition: all ease .4s;
}
.fas.fa-plus{
    height: 20px;
    width: 20px;
    color: #0a0500;
    }
    
    .trash-btn-email .far.fa-trash-alt{
        width: 50px;
        height: 50px;
        color: #0a0500;
        cursor: pointer;
        font-size: 20px;
    }

    .email-item button{
        background:none;
        border:none;
    }
    /* .trash-btn-email button{
        background: none;
        border:none;
    } */


.compose-button {
    margin-top: 10px;
    text-align: center;
    margin-left: 10px;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    outline: none;
    cursor: pointer;
    background: white;
    border: 1px solid white;
    font-size: 15px;
    transition: all ease .4s;
    box-shadow: rgb(196, 194, 194) .1px .4px .4px .4px;
} 

.email.fas.fa-plus{
    width: 20px;
    height: 20px;
   
}




.compose-button:hover {
    background: rgb(250, 253, 251);
    box-shadow: rgb(196, 194, 194) .1px 1px .4px 1px;
}

/* Hamburger */


.nav-hamburger {
    display: none;
}

.nav-hamburger span {
    display: block;
    height: 2px;
    background: #FFF;
    width: 20px;
    transition: .3s all;
    transform: rotate(360deg);
}

.nav-hamburger:hover {
    border-color: #0a0500;
}

.nav-hamburger:hover span {
    background: #0c0600;
}

.menu-open .nav-hamburger span:first-child {
    transform: rotate(45deg);
    position: absolute;
}

.menu-open .nav-hamburger span:nth-child(2) {
    display: none;
}

.menu-open .nav-hamburger span:nth-child(3) {
    transform: rotate(-45deg);
    position: absolute;
}

.open {
    transform: translate(-110%);
}
/* compose */
/* .compose-btn {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 1rem;
    background-color: #fff;
    border-radius: 10px;
    cursor: pointer;
    border: none;
    padding: 5px;
    box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.302), 0 1px 3px 1px rgba(60, 64, 67, 0.149);
}

.compose-btn:hover {
    font-weight: bold;
    background-color: #ccc;
}

.mail-compose {
    background-color: white;
    z-index: 6;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    height: 80%;
    box-shadow: -2px 3px 7px 0px #aba9a9;
}
.mail-compose button {
 border: none;
}
.mail-compose button:hover {
 opacity: 0.7;
}

.mail-compose .compose-header {
    padding-top: 0;
    padding-bottom: 0;
    background-color: #0e9aa7;
    color: #f4f4f4;
    border-radius: 8px 8px 0px 0px;
}

.compose-header p {
    margin-left: 1rem;
}

.compose-header button {
    background-color: transparent;
    color: #cccbcb;
    margin-right: 0.5rem;
    cursor: pointer;
}

.compose-header button:last-of-type {
    display: flex;
    align-items: center;
    justify-content: center;
}


.mail-compose textarea {
    width: 100%;
    outline: none;
    border: none;
    padding: 1rem;
    font-family: tahoma;
}

.mail-compose input {
    outline: none;
    border: none;
    border-bottom: 1px solid rgb(199, 199, 199);
    padding: 1rem;
    width: 100%;
    font-family: tahoma;
}

.compose-footer {
    padding: 0.5rem;
    background-color: #fff;
}

.compose-footer button {
    padding: 0.5rem 1rem;
    border-radius: 5px;
    margin-inline-start: 1rem;
    background-color: #0e9aa7;
    color: white;
    cursor: pointer;
    font-size: 1.2rem;
}

.compose-footer button:hover {
    background-color: #0e9aa7;
} */
