
a{
    text-decoration: none;
    list-style-type: none;
    color:black;
}

 li{
    list-style-type: none;  
 }
 


.email-preview{
    display: flex;

    justify-content: space-between;
}

.edit-mail{
 position:absolute;
    display:none;
    background-color: #fff;
    height: 100%;
    width: 40%;
}

.mail-preview:hover .edit-mail{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    right: 0;
    }

