@font-face {
    font-family: Molengo;
    src: url(/AppSus/assets/font/Molengo-Regular.ttf)
}

body {
    font-family: Molengo;
}

a {
    text-decoration: none;
    list-style-type: none;
    color: black;
}

li {
    list-style-type: none;
}

button {
    outline: none;
}

.email-filter {
    display: flex;
}

.email-filter input {
    height: 40px;
    width: 300px;
    border-radius: 7px;
    border: 0.8px;
    border-bottom-color: lightslategray;
}

.emails-list {
    margin-top: -1px;
    padding: 0;
    margin-left: 170px;
    margin-right: 100px;
    border-radius: 10px;
    height: 80vh;
    overflow-y: scroll;
}

.email-preview {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    /* padding-top: 10px; */
    border: 1px solid rgba(112, 111, 111, 0.411);
    transition: all ease .4s;
}
.email-preview:hover {
    
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.form-container {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-right: 100px;
    bottom: 0;
    right: 0;
    position: fixed;
    z-index: 99999;
    margin-top: 50px;
    display: block;
    width: 570px;
    height: 520px;
    background: white;
}

.form-container input {
    color: black;
    width: calc(100% - 10px);
    height: 25px;
    margin: 5px;
    outline: none;
    border: none;
    border-bottom: 1px solid black;
}

.form-header {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: 700;
    padding-top: 8px;
    text-align: left;
    width: calc(100% - 20px);
    height: 30px;
    color: rgb(37, 36, 36);
}

.form-container .email-input-txt {
    padding: 5px;
    text-align: center;
    height: 100%;
    outline: none;
    border: none;
}

.form-container button {
    outline: none;
}

.close-btn-compose {
    cursor: pointer;
    float: right;
    color: rgb(189, 182, 182);
}

.submit-compose {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 90px;
    height: 35px;
    font-weight: 700;
    background: #9FEDD7;
    color: rgb(37, 36, 36);
    cursor: pointer;
    margin-bottom: 10px;
    margin-left: 20px;
    border-radius: 7px;
    border: none;
    transition: all ease 0.4s;
}

.submit-compose:hover {
    background: #026670;
    color: #EDEAE5;
}

.email-input-text {
    border: none;
}

textarea .email-input-txt {
    border: none;
    text-align: center;
}