
a{
    text-decoration: none;
    list-style-type: none;
}

 li{
    list-style-type: none;  
 }
 

 .emails-list {
    display: grid;
    grid-gap: 5px;
    grid-template-rows: repeat(auto-fit, minmax(auto-fit, 1fr));
    /* grid-auto-flow: dense; */
  
}

