.keep-app-masonry {
    /* column-count: 4;
    column-gap: 1em; */
    display: flex;
    flex-direction: column;
    text-align: center;
}

.keep-app-masonry h1 {
    color: coral;
    font-size: 2rem;
}

.note-grid {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    /* grid-template-rows: 300px; */
    grid-auto-flow: dense;
    padding: 1rem;
}

.note-grid button {
    background: none;
    border: none;
}

.note {
    padding: 10px 10px 5px 10px;
    display: flex;
    flex-direction: column;
    border-radius: 12px;
}

.keep-app-masonry button {
    align-self: center;
}

.note img {
    width: 100%;
    /* height: 100%; */
}

/* icones on the notes */

.fas.fa-thumbtack {
    width: 20px;
    height: 20px;
    font-size: 1.2rem;
    background: none;
    color: #ffde65;
}

.fas.fa-unlink {
    width: 20px;
    height: 20px;
    font-size: 1.2rem;
    color: black;
}

.far.fa-trash-alt {
    width: 20px;
    height: 20px;
    font-size: 1.2rem;
    color: black;
    cursor: pointer;
}

.fas.fa-palette {
    width: 20px;
    height: 20px;
    font-size: 1.2rem;
    color: black;
    cursor: pointer;
}

.fas.fa-edit {
    width: 20px;
    height: 20px;
    font-size: 1.2rem;
    color: black;
    cursor: pointer;
}

/* inputs */

.add-note, .note-filter input {
    border-radius: 7px;
    text-align: center;
    outline: none;
    width: 18rem;
    height: 3rem;
    font-size: 100%;
}

/* Adding new note */

.adding-note {
    display: flex;
    justify-content: center;
}


.adding-note button {
    border: none;
    background: none;
}

.keep.fas.fa-plus, .fas.fa-font, .fas.fa-mountain, .fab.fa-youtube, .fas.fa-list {
    font-size: 2.2rem;
    color: rgb(43, 41, 41);
    padding-top: 10px;
    cursor: pointer;
}

/* media */

@media (max-width: 550px) {
    .note-grid {
        display: grid;
        grid-gap: 10px;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        /* grid-template-rows: 300px; */
        grid-auto-flow: dense;
        padding: 1rem;
    }
    .add-note, .note-filter input {
        border-radius: 7px;
        text-align: center;
        outline: none;
        width: 12rem;
        height: 2.5rem;
        font-size: 100%;
    }

    .keep.fas.fa-plus, .fas.fa-font, .fas.fa-mountain, .fab.fa-youtube, .fas.fa-list {
        font-size: 1.2rem;
        color: rgb(43, 41, 41);
        padding-top: 10px;
        cursor: pointer;
    }
}