* {
    box-sizing: border-box;
}

body {
    background-color: #fafafa;
    margin: 0;
}

button {
    cursor: pointer;
}

a {
    text-decoration: none;
    cursor: pointer;
}

li {
    list-style-type: none;
}

/* .container{
    width: 1000px;
}

.flex{
    display: flex;
} */