* {
    box-sizing: border-box;
}

body {
    background-color: white;
    margin: 0;
}

button {
    cursor: pointer;
}

a {
    text-decoration: none;
    cursor: pointer;
}

li {
    list-style-type: none;
}

@font-face{
    font-family: Molengo;
    src: url(../font/Molengo-Regular.ttf);

}

