.home-page{
  text-align: center;
    background-image: url(../img/background.JPG);
   /* background-size: cover; */
   width:500px;
   height: 500px;
    display: flex;
    
    background-repeat: no-repeat;
   
    
}
