.home-page {
  display: flex;
  justify-content: center;
  padding-top: 3.75rem
  
}

.home-page img {
  object-fit: cover;
}


@media (max-width: 550px) {
  .home-page {
    display: flex;
    justify-content: center;
    padding-top: 2.7rem
    
  }
  .home-page img{
    width: 100%;
  }


}