/* General */

* {
    box-sizing: border-box;
}

@font-face {
    font-family: Eurofurence;
    src: url(../font/Eurofurence/eurof55.ttf)
}

@font-face {
    font-family: Lato;
    src: url(../font/Lato/Lato-Regular.ttf);
}

.book-app h1 {
    color: #4d6d9a;
    font-size: 2rem;
}

.book-app {
    text-align: center;
}

a, li {
    text-decoration: none;
    list-style-type: none;
    /* color: #494949; */
}


img {
    object-fit: cover;
}

.book-filter input, .input-add input {
    border-radius: 7px;
    text-align: center;
    outline: none;
    width: 12rem;
    height: 2.5rem;
    font-size: 100%;
}

/* Price Book: */

.green {
    color: green;
}

.red {
    color: red;
}

/* book-list: */

.book-list {
    display: grid;
    grid-gap: 15px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-auto-flow: dense;
    text-align: center;
    align-items: center;
    justify-content: center;
}


.book-details{
    text-align: center;
    text-align: center;
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    padding: 1rem;
}

.book-info{
    flex-direction: column;
    color: rgb(39, 39, 39); 
}
/* .book-preview { */
    /* background-color: #f1dfdfd8; */
/* } */

/* about */

.about {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.about img {
    object-fit: cover;
}

.home {
    background-image: url(../img/book-gif.gif);
    height: 100vh;
    background-size: cover;
    /* display: flex; */
    /* object-fit: cover; */
}

.img-gif {
    background-repeat: no-repeat;
}

@media (max-width: 550px) {
    .book-list {
        display: grid;
        grid-gap: 15px;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        grid-auto-flow: dense;
        text-align: center;
        align-items: center;
        justify-content: center;
        padding-left: 0;
    }

    .book-details{
        text-align: center;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1rem;
    }
    
    .book-info{
        flex-direction: column;
        color: #272727; 
    }
}